extends layout

block content
  h1 Add Student

  form(action='/add', method='POST')

    div.form-group
      label Name
      input(type='text', name='name', required)

    div.form-group
      label Course
      input(type='text', name='course', required)

    div.form-group
      label Marks
      input(type='number', name='marks', required)

    button.btn.btn-add(type='submit') Add Student